/* Estilos generales */
.h1 {
    text-align: center;
}

/* Estilos de los contenedores */
.container {
    background-color: black;
    width: 85%;
    height: 30%;
    margin: 25px auto;
    margin-bottom: 100px;
    border-radius: 50px;
    text-align: center;
    color: white;
    padding: 10px;
    float: left;
}

.container:nth-child(2n) {
    float: right;
}

/* Estilos de las imágenes */
.img {
    height: 100px;
    width: 100px;
    float: left;
    border-radius: 50px;
}

/* Estilos de los elementos dentro del contenedor */
.edad,
.email,
.descripcion {
    color: black;
}

/* Estilos al pasar el cursor sobre el contenedor */
.container:hover .edad,
.container:hover .email,
.container:hover .descripcion {
    background-color: black;
    color: white;
}

/* Estilos de los elementos en bloque */
.block {
    display: inline-block;
}
